@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400&family=Noto+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
    word-break: keep-all;
}

a {
    text-decoration: none;
    color: inherit;
}

ol,
ul,
li {
    list-style-type: none
}
/*
span {
        font-size:100% sans-serif;
    }
*/

body {
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 100%;
    overflow-x: hidden;

}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

span.typing-txt {
    display: none;
}

.mainbox {
    max-width: 112rem;
    margin: 0 auto;
    z-index: 1;

    display: flex;


    padding: 0 1.25rem 0 1.25rem;


    transition: all 1s;
    margin-bottom: 3.75rem !important;
}

.topright {
    animation-name: topright;
    animation-duration: 3s;
    animation-fill-mode: forwards;

}

@keyframes topright {
    0% {}

    40% {
        top: 0;
        transform: translateY(0%);
    }

    100% {
        transform: translateX(0px);
        top: 0;

    }

}

.typing {
    /*    width: 145px;*/
    line-height: 18.5px;
    height: 30px;
    font-size: 50px;
    cursor: pointer;

    /*       position: absolute;*/
    display: inline-block;
    animation-name: cursor;
    animation-duration: 0.3s;
    animation-iteration-count: infinite;
}

@keyframes cursor {
    0% {
        border-right: 1px solid #fff
    }

    50% {
        border-right: 1px solid #000
    }

    100% {
        border-right: 1px solid #fff
    }
}

.subtxt {
    position: relative;
    top: 0px;
    display: inline-block;
    width: 215px;
    animation-name: subtxt;
    animation-delay: 2s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
    visibility: visible;
    vertical-align: top;
}

@keyframes subtxt {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.maintxt {
   
    height: 90px;


    padding: 20px 0;

}

.mainsuptxt {
    /*    line-height: 30px;*/
    height: 15px;
    font-size: 50px;
    width: 100px;
    position: relative;
    right: -105px;

}

.ttx {
    top: -13px;
    animation-name: block1;
    animation-duration: 1.5s;
    animation-delay: 0.4s;
    bottom: 0;
    animation-fill-mode: forwards;
    opacity: 0;


    position: relative;
    transition: all 1s;
}

@keyframes block1 {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;

    }

    100% {
        opacity: 0;
        /*        bottom: 20px;*/
    }
}

.tt2 {
    top: -10px;
    right: 0;
    position: absolute;
    opacity: 0;
    animation-duration: 1s;
    animation-delay: 1s;

    animation-name: block23;
    animation-fill-mode: forwards;
    transition: all 1s;

}

@keyframes block23 {

    0% {
        opacity: 0;

    }

    100% {
        opacity: 1;
        right: 70px;
        transform: rotate(180deg);
    }
}
.flsdl {
    display: flex;
    width: 100%;
}
.mainimg {
    margin: 0 auto;
    max-width: 112rem;

    height: auto;
    padding: 0 1.25rem 0 1.25rem;

}

.box1 {
    text-align: start;
    height: 100%;
    width: 100%;
    display: flex;
    position: relative;
    left: 0%;
    margin-bottom: 10.5rem;
}

.box1 img {
    padding: 20px;
    filter: grayscale(80%);
    /*    border: 1px solid #e2e2e2;*/
    width: 100%;
 

    border-right: none;
    display: block;
    position: relative;

}



.box1 img:hover {
    filter: grayscale(0%);

}
.fll {
 
    display: flex;
    flex-direction: column;
}

.box2 {
    margin: 0 auto;

    max-width: 112rem;
    display: flex;
    flex-direction: column;
    padding: 0 1.25rem 0 1.25rem;
    margin-bottom: 3.75rem !important;
}

.flexboxcx {


float: left;
/*    flex-direction: column;*/
    width: 50%;
}
.zxc {
     
    width: 100%;
  
}

.col {
 
      padding-left: 10px;
    width: 30%;
    height: 30%;
    display: flex;
    flex-direction: column;
}.col .img5 {

margin-bottom: 50px;
}
.box2 img {

    /*    padding: 60px;*/
    /*    filter: grayscale(80%);*/
    /*    border: 1px solid #e2e2e2;*/
    width: 100%;
/*    height: 100%;*/
    border-bottom: none;
    border-right: none;
    display: block;
    position: relative;
}


.box2 img:hover {
    filter: grayscale(0%);

}

.box3 {

    height: 100%;
    width: 100%;
    display: none;
    position: relative;
    right: 0%;
}

.box3 img {
    padding: 60px;
    filter: grayscale(80%);
    width: 100%;
    height: 100%;


    border: 1px solid #e2e2e2;
    border-right: none;
    display: block;
    position: relative;
}

.box3 img:hover {
    filter: grayscale(0%);

}

.box4 {

    height: 100%;
    width: 100%;
    display: none;
    position: relative;
    left: 0%;

}

.box4 img {
    padding: 60px;
    filter: grayscale(80%);
    border: 1px solid #e2e2e2;
    width: 100%;
    height: 100%;
    border-bottom: none;
    border-right: none;
    display: block;
    position: relative;
    border-top: none;
}

.box4 img:hover {
    filter: grayscale(0%);

}

.box5 {

    height: 100%;
    width: 100%;
    display: none;
    position: relative;
    left: 0%;

}

.box5 img {
    padding: 60px;
    filter: grayscale(80%);
    border: 1px solid #e2e2e2;
    width: 100%;
    height: 100%;
    border-bottom: none;
    border-right: none;
    display: block;
    position: relative;
    border-top: none;
}

.box5 img:hover {
    filter: grayscale(0%);

}

.box6 {

    height: 100%;
    width: 100%;
    display: none;
    position: relative;
    left: 0%;

}

.box6 img {
    padding: 60px;
    filter: grayscale(80%);
    border: 1px solid #e2e2e2;
    width: 100%;
    height: 100%;
    border-bottom: none;
    border-right: none;
    display: block;
    position: relative;
    border-top: none;
}

.box6 img:hover {
    filter: grayscale(0%);

}

.box7 {

    height: 100%;
    width: 100%;
    display: none;
    position: relative;
    left: 0%;

}

.box7 img {
    padding: 60px;
    filter: grayscale(80%);
    border: 1px solid #e2e2e2;
    width: 100%;
    height: 100%;
    border-bottom: none;
    border-right: none;
    display: block;
    position: relative;
    border-top: none;
}

.box7 img:hover {
    filter: grayscale(0%);

}

.box8 {

    height: 100%;
    width: 100%;
    display: none;
    position: relative;
    left: 0%;

}

.box8 img {
    padding: 60px;
    filter: grayscale(80%);
    border: 1px solid #e2e2e2;
    width: 100%;
    height: 100%;
    border-bottom: none;
    border-right: none;
    display: block;
    position: relative;
    border-top: none;
}

.box8 img:hover {
    filter: grayscale(0%);

}

.img5 {
    opacity: 1;
    animation-name: op1;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 2.2s;
    transition: all 1s;
    position: relative;
    z-index: 98;
    margin: .625rem;
}

.img5 span {
    position: relative;
    top: .5em;
    right: 0;
    padding: 12px 0;
    opacity: 1;
    transition: all 0.5s;
    font-size: 13px;
    z-index: 99;
    margin-bottom: .625rem;

}

.img5:hover span {
    opacity: 1;
}

@keyframes op1 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.ani1 {
    opacity: 0;
    animation-name: op2;
    animation-duration: 1s;
    animation-delay: 2.6s;
    animation-fill-mode: forwards;
    transition: all 1s;

}

@keyframes op2 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.ani2 {
    opacity: 0;
    animation-name: op3;
    animation-duration: 1s;
    animation-delay: 2.4s;
    animation-fill-mode: forwards;
    transition: all 1s;

}

@keyframes op3 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.ani3 {
    opacity: 0;
    animation-name: op4;
    animation-duration: 0.5s;
    animation-delay: 2.7s;
    animation-fill-mode: forwards;
    transition: all 1s;


}

@keyframes op4 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}



.ani4 {
    opacity: 0;
    animation-name: op5;
    animation-duration: 0.5s;
    animation-delay: 2.8s;
    animation-fill-mode: forwards;
    transition: all 1s;

}


@keyframes op5 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/*
.ani5 {
    opacity: 0;
    animation-name: op6;
    animation-duration: 0.5s;
    animation-delay: 3.2s;
    animation-fill-mode: forwards;
    transition: all 1s;

}
*/

@keyframes op6 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.ani6 {
    opacity: 0;
    animation-name: op7;
    animation-duration: 0.5s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
    transition: all 1s;

}

@keyframes op7 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/*
.ani7 {
    opacity: 0;
    animation-name: op8;
    animation-duration: 0.5s;
    animation-delay: 2.9s;
    animation-fill-mode: forwards;
    transition: all 1s;


}
*/
/*
.ani8 {
    opacity: 0;
    animation-name: op8;
    animation-duration: 0.5s;
    animation-delay: 2.9s;
    animation-fill-mode: forwards;
    transition: all 1s;


}
*/
.shesad {
    position: absolute;
    left: 10px;
    top: 10px;
    color: white;
    font-size: 0.55vw;
    font-style: italic;
    font-weight: 700;
    padding: 7px;
    background: black;
    border-radius: 15px 15px 15px 15px;
}

footer {
margin-top: 3.75rem;
    background: #f5f5f5;
    padding: 3.75rem 0 0 0;
    display: block;
}
.hnf-page-container {
    max-width: 112rem;
    margin: 0 auto;
    box-sizing: border-box;
        padding: 0 2.5rem 0 1.25rem;
    flex-direction: row;
}
.hnf-page-container__main {
    grid-column: 2/14;
    grid-row: 1;
}
.hnf-page-container__inner {
    margin: 0;
display: grid;
    grid-column-gap: 1.25rem;
    grid-template-columns: repeat(13, minmax(0, 1fr));
  
}
.hnf-footer__featuredLinks {
  
flex-basis: 30%;
    margin-bottom: 3.75rem;
    padding: 0 8% 0 0;
    margin: 0 .625rem;
    flex: 0 0 100%;
}

.hnf-footer__container {
    display: flex;
    flex-wrap: wrap;
    max-width: 112rem;
    margin-top: 1.25rem;
}
.hnf-footer .hnf-flex-row {
    width: 100%;
    display: flex;
    flex-direction: row;
/*    flex-wrap: wrap;*/
    flex: 1 1 auto;
}
.hnf-footer__featuredLinks {
   flex-basis: 30%;
}
.hnf-footer__linkGroups {
    flex-basis: 70%;
    margin-bottom: 3.75rem;
    flex: 1 0 100%;
}
footer .icon {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0 1.25rem 1.25rem 0;
/*    padding: 0 50px;*/
/*    margin-top: 30px;*/
width: 100%;

}
.hnf-footer__socialMediaLinks {
    margin: 0 1.25rem 1.25rem 0;
}
.hnf-footer .hnf-accordion {
    padding-left: 0;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

.hnf-accordion {
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: transparent;
}
footer .icon i {}

footer .icon .fab {
    width: 30px;
    height: 30px;
    margin-left: 18px;
    position: relative;
    border: 1px solid #e2e2e2;
    border-radius: 50%;
    text-align: center;

}
.hnf-footer .hnf-accordion__item {
    position: relative;
    border: none;
    flex: 0 0 17%;
    padding-left: 1.25rem;
    margin-bottom: 0;
}
h4 {
    font-size: 1.5rem;
    line-height: 1.3334;
    letter-spacing: -.42px;
    margin-bottom: 1.5rem;
}
.hnf-accordion__item {
    transition: all 200ms cubic-bezier(0.4, 0, 0.4, 1);
    margin: 0;
    outline: 0;
    padding: 0;
}
.fa-youtube:before {
    position: relative;
    top: 5px;
}

.fa-instagram:before {
    position: relative;
    top: 5px;
}

.fa-facebook:before {
    position: relative;
    top: 5px;
}

footer .icon .fabfooter .icon .fab {}

footer .icon .fabfooter address {}

footer address {
/*    position: absolute;*/
    left: 0;
    top: 61px;
    width: 100%;
    
/*    padding: 0 50px;*/
    font-size: .95rem;
    font-style: normal;
    line-height: 1.71429;
margin-bottom: 2.5rem;
}

footer ul:last-of-type {

    top: 61px;
    left: 0px;


    width: auto;

}

footer ul:last-of-type h3 {
    margin-bottom: 15px;
}

footer ul:last-of-type li {
    line-height: 2.71429;
}

@keyframes op8 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.mainbox ul li {
    float: right;
    width: 4rem;
}

.mainbox ul {
    margin: 0 auto;
    max-width: 100%;
}

.mainimg21 {
    margin: 0 auto;
    max-width: 112rem;
    padding: 0 1.25rem 0 1.25rem;

}

.mainimg21 img {

    width: 100%;

}

.mainimg212 {


    margin: 0 auto;
    max-width: 112rem;
    padding: 0 1.25rem 0 1.25em;

    /*   border-bottom: 1px solid black;*/
    height: 100%;

}

.mainimg212 img {

    width: 100%;

}

.boder1 {

    /*padding: 10px 0;*/
    clear: both;
    border-bottom: 1px solid #e2e2e2;
    display: inline-block;
    width: 100%;
    margin: 1.25rem 0;
}

.go {
    margin-top: .95rem !important;
    margin-bottom: 5.75rem !important;

}

.go span {
    font-size: .75rem;
    padding: 0 1.25rem;
    border-radius: 40px;

    font-weight: 700;
    display: inline-block;
    line-height: 40px;
    background: black;
    text-align: center;
    color: white;
}

.mainsdn {

    width: 100%;

    float: left;
}

.img5 > .subtt {
    font-size: .85rem;
    padding: 15px 0;
    display: inline-block;


}

.line1 {
    display: inline-block;
    border-bottom: 1px solid #e2e2e2;
    width: 0%;

    padding: 0;
    margin: 0;

    margin-bottom: 4px;


}

.img5:hover .line1 {
    width: 58%;


}

.sect2 {

    width: 100%;
text-align: center;

}
.sect2 li {

cursor: pointer;


}

.sect2 img {
    padding: 0px 0;
    border: 10px solid #fff;
    width: 100%
}

.flexbox {
    display: flex;
margin-top: 1.625rem !important;

}
.sec2img2 {
 position: relative;
}

.sec2img1 {
    position: relative;
    margin-top: 20px;
}

.sec2img3 {
    position: relative;
    margin-top: 20px;
}

.sec2img1:hover .bigclcle {
    visibility: visible;
    opacity: 1;
    transition: all .3s;
    animation-name: sadm;
      animation-iteration-count: 2;
      animation-duration: 0.7s;
}
 .sec2img2:hover .bigclcle {
    visibility: visible;
    opacity: 1;
    transition: all .3s;
    animation-name: sadm;
      animation-iteration-count: 2;
      animation-duration: 0.7s;
}
 .sec2img3:hover .bigclcle {
    visibility: visible;
    opacity: 1;
    transition: all .3s ease-in-out;
    animation-name: sadm;
      animation-iteration-count: 2;
      animation-duration: 0.6s;
}
 
.bigclcle {
    cursor: pointer;
    transition: all .3s;
    visibility: visible;
    opacity: 0;
    width: 2.25rem;
    height: 2.25rem;
    border: 2px solid transparent;
    background: rgba(0, 0, 0, 0.6);

    position: absolute;
    padding: 0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: .5;

    transform: translateY(-1.225rem) translateX(-1.225rem);

}

.bigclcle:hover {
    border-color: rgba(255, 255, 255, 0.5)
}

.bigclcle:hover::after {
    width: .55rem;
    height: .55rem;
}

.bigclcle::after {
    content: "";
    transition: all .3s ease-in-out;
    position: relative;
    display: block;
    background: #fff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.55);
    width: .75rem;
    height: .75rem;
    border-radius: 50%;
}

.open {
    display: block;
}

div[class='sidebar'] {
    left: -400px;
    transition: all .35s;
    z-index: 1;
    top: 0px;
    width: 25rem;
    height: 100%;
    background: #fff;

    z-index: 1111;
    position: fixed;

}

input[id='menuicon']:checked + label + div {
    left: 0px;

}

.sidebar .sidesct {

    text-align: left;
    padding: 5.2rem 6rem 0;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 4rem;
}
.sidebar2 .sidesct2 {

    text-align: left;
    padding: 5.2rem 6rem 0;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 4rem;
}

.sidebar {
    /*    overflow: hidden;*/
    border-right: 1px solid #e2e2e2;
    /*    border: 1px solid black;*/

}

.sidebar2 {
    /*    overflow: hidden;*/
    border-right: 1px solid #e2e2e2;
    /*    border: 1px solid black;*/

}


.sidesct {}

.sidebar:hover {
    background: #e2e2e2;

}
.sidebar2:hover {
    background: #e2e2e2;

}

.sidesct2 .sidesct2_1 {
    /*    position: relative;*/
    font-size: 15px;
    /*    left: -250px;*/
    font-weight: normal;

}

.headermenu_mobile {


    top: 35px;
    position: absolute;
    display: inline-block;
    padding: 0 0 0 20px;
    z-index: 999;
    left: 0px;
}



.fa-heart {

visibility:visible;
line-height: -9999px;
}

input[id="menuicon"] {
    display: none;

}

input[id="menuicon"] + label {
    display: block;
    width: 25px;
    height: 20px;
    position: fixed;
    cursor: pointer;
    z-index: 9999;
    top: 26px;

}

input[id="menuicon"] + label span {
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 30px;
    background: #000;
    transition: all .35s;
    left: 0px;
}

input[id="menuicon"] + label span:nth-child(1) {
    top: 0px;
}

input[id="menuicon"] + label span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
}

input[id="menuicon"] + label span:nth-child(3) {
    bottom: 0px;
}

input[id="menuicon"]:checked + label span:nth-child(1) {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);


}

input[id="menuicon"]:checked + label span:nth-child(2) {
    opacity: 0;
    transform: translateY(50%) rotate(-45deg);



}

input[id="menuicon"]:checked + label span:nth-child(3) {
    bottom: 50%;
    transform: translateY(50%) rotate(-45deg);

}
/*2*/

.header .subsct1_main_custom {}

/*
.gogal3 {
    text-align: start;
    padding: 1.2rem 6rem 0;
    line-height: 2.3rem;
}
*/

.bold {
    font-size: 14px;
    font-weight: 700;

}

.bold2 {
    font-size: 14px;
    font-weight: 400;

}


.gogal3 {
    text-align: start;
    padding: 1.2rem 6rem 0;
    line-height: 2.3rem;
}


/*
.bold {
    font-size: 14px;
    font-weight: 700;

}

.bold2 {
    font-size: 14px;
    font-weight: 400;

}
*/


.mo2 {
    display: none;
}

.mainbox .box59 i {
    filter: contrast(30px);
    border: 1px solid #fff;
    width: 2.2rem;
    position: relative;
    text-align: center;

    margin-left: 10px;
}


.mainbox .box59 i {

    font-size: 20px;

}

.centerf {
    display: flex;
    justify-content: center;
    width: 100%;
}


.sect2 ul {
    display: flex;
    margin-top: 1.625rem;
    justify-content: center;
}

.sect2 ul li {
    background: #f5f5f5;
    border-radius: 40px;
    font-weight: 700;
    font-size: .75rem;
    width: 75px;
    height: 40px;
    margin-right: 20px;
    text-align: center;

    line-height: 40px
}

.sect2 ul li.active {
    background: #111;
    color: white;
}

.col {
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;
}

.sec3 {

    display: grid;
    grid-column-gap: 1.25rem;
    grid-template-columns: repeat(13, minmax(0, 1fr));
    padding-bottom: 1.8125rem;

}


.sec3 > .innersec3 span {
    display: inline-block;
    margin: 0 0 1.875rem;
    width: 100%;

}

.flexbox2 {
    display: flex;
    flex-wrap: nowrap;


}

.flexbox2 img {
    max-width: calc(110px - 1.25rem);
    height: auto;
    display: block;
    margin-right: 2rem;

}

.innersec3 {}

.tootip {
    display: block;
    min-width: 8.4375rem;
    position: absolute;
    visibility: hidden; 
    opacity: 0;
}

.ofeed-shoppable-image__tag-inner {
    width: 135px;
    background: #fff;
    text-align: left;
    display: flex;
    -webkit-box-orient: vartical;
    -webkit-box-direction: nomal;
    flex-direction: column;
    text-decoration: none;
    color: #000;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.55);
}

.range-revamp-shoppable-price-package {
    display: inline-flex;
    background-color: #fff;
    min-width: 135px;
    max-width: 180px;
}

.range-revamp-shoppable-price-package__content {
    text-decoration: none;
    color: #000;
    display: inline-flex;
    flex-direction: column;
    padding: 10px 6px 10px 15px;
    width: 100%;
}

.range-revamp-shoppable-price-package__content--wrapper {
    display: inline-flex;
    justify-content: space-between;
}

.range-revamp-shoppable-price-package__content--left {
    display: inline-flex;
    flex-direction: column;
    margin-top: .3125rem;
    max-width: 135px;
}

.range-revamp-header-section {
    margin-bottom: .625rem;
}

.range-revamp-header-section__title--small {
    font-size: .875rem;
    margin-bottom: 0;
    line-height: 1;
}

.range-revamp-header-section__description {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: .875rem;
}

.range-revamp-header-section__description-text:after {
    content: "";
}

.range-revamp-shoppable-price-package__content--right {
    width: 1.5rem;
}

.range-revamp-svg-icon {
    display: inline-block;
    height: 1.5rem;
    width: 1.5rem;
    vertical-align: middle;
    fill: currentColor;
    transition-property: transform, fill, -webkit-transform;
    transition-duration: .3s;
    transition-timing-function: ease;
}
.range-revamp-shoppable-price-package__footer {
    display: inline-flex;
    flex-wrap: wrap;
    padding: 0 0 .375rem;
    align-items: center;
}
.range-revamp-price{
    white-space: nowrap;
    margin-right: .625rem;
}
.range-revamp-price--small{
    line-height: .9;
 font-size: 1rem;
} 
.range-revamp-price--small .range-revamp-price__currency-symbol {
    line-height: 1.6;
}

.range-revamp-price__currency-symbol--superscript {
    vertical-align: text-top;
}
.range-revamp-price__currency-symbol--leading {
    margin-right: .0625rem;
    unicode-bidi: bidi-override;
}
.range-revamp-price--small .range-revamp-price__integer {
    font-size: 1rem;
}
.range-revamp-price__integer {
    line-height: 1.1875;
    vertical-align: inherit;
}
.range-revamp-header-section__description-text {
    line-height: 2;
}


  .bigclcle:hover .tootip {

      visibility: visible;
      opacity: 1;
      transition: all .35s ease-in-out;
animation-fill-mode: forwards;
}

  
.tootip:hover {
    text-decoration: underline;
}

  

.bigclcle::before {
    content: ""; 
    position: absolute;
    top: -.625rem;
    left: -.625rem;
    right: -.625rem;
    bottom: -.625rem;
    display: block;
}
.swiper-slide {
    display: flex;
    flex-direction: column;
}


.swiper-slide:hover .bigclcle {
    visibility: visible;
    opacity: 1;
    transition: all .3s;
    animation-name: sadm;
      animation-iteration-count: 2;
      animation-duration: 0.7s;
}
@keyframes sadm {
    0% {opacity: 0}
    100%{opacity: 1}
}
.hnf-header__search {


    margin-top: 0px;
min-width: auto;
    z-index: 100;
    flex-grow: 1;
    order: 4;
    margin-left: 1rem;
}

[data-namespace=search-box-overlay] {
    display: none;
}

[data-namespace=search-box] .sidebar {
    display: none;
}


[data-namespace=search-box] .close-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
    background: #fff;
    border-radius: 50%;
    transition: background .2s,transform .3s;
    transform: rotateY(90deg);
}


[data-namespace=search-box] .search-field {
    position: relative;
    flex: 1 1 auto;
    width: auto;
    
}
[data-namespace=search-box] .search-field--has-input:before {
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg width='16' height='17' fill='%23111' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.5 11a4.5 4.5 0 110-9 4.5 4.5 0 010 9zm4.968-.307a6.5 6.5 0 10-1.514 1.315l3.996 3.996 1.414-1.414-3.896-3.897z'/%3E%3C/svg%3E")
}


[data-namespace=search-box] .search-field:before {
    position: absolute;
    top: 50%;
    left: 1.5rem;
    width: 1rem;
    height:1rem;
    pointer-events: none;
    content: "";
    background-repeat: no-repeat;
    background-size: cover;
    transform: translateY(-50%);
     background: url("data:image/svg+xml;charset=utf-8,%3Csvg width='16' height='17' fill='%23111' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.5 11a4.5 4.5 0 110-9 4.5 4.5 0 010 9zm4.968-.307a6.5 6.5 0 10-1.514 1.315l3.996 3.996 1.414-1.414-3.896-3.897z'/%3E%3C/svg%3E")
}


[data-namespace=search-box] .search-box .search-wrapper .search-field .search-field__input {
    box-shadow: none;
}
[data-namespace=search-box] .search-field__input {
    display: block;
    appearance : none;
    width: 100%;
    padding: .5rem 3.375rem;
    margin: 0 auto;
    font-size: 16px;
    line-height: 1.5;
    background-color: #f5f5f5;
    border: 0;
    border-radius: 50rem;
    outline: 0;
    box-shadow: none;
    transition: background .2s;
}
[data-namespace=search-box] .search-box__wrapper--visual-search-icon{
    position: absolute;
    top: 0;
    right: 1rem;
    bottom: 0;
    display: flex;
    align-items: center;
}
[data-namespace=search-box] .search-box__visual-search-icon {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    justify-content: center;
    font-size: 0;
    cursor: pointer;
}
[data-namespace=search-box] button {
    appearance: none;
    padding: 0;
    background: none;
    border: 0;
}
[data-namespace=search-box] .search-box__visual-search-icon:after {
    display: block;
    flex: 1;
    width: 1.825rem;
    height: 1.5rem;
    content: "";
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='%23484848' class='icons__icon'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16.002 13a4 4 0 11-8 0 4 4 0 018 0zm-2 0a2 2 0 11-4 0 2 2 0 014 0z'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.443 4L7.586 7H3v13h18V7h-4.586l-1.857-3H9.443zm1.114 2h2.886L15.3 9H19v9H5V9h3.7l1.857-3z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: contain;
}

button {
 font-family: inherit;
    font-size: 1rem;
    cursor: pointer;
    position: relative;
    text-transform: none;
    overflow: visible;
    line-height: 1.5;
    margin: 0;
    text-rendering: nomal;
    word-spacing: normal;
    text-shadow: none;
    text-indent: 0px;
    color: -internal-light-dark(buttontext, rgb(170, 170, 170));

}
.hnf-page-container__inner {
    display: grid;
    grid-column-gap: 1.25rem;
    grid-template-columns: repeat(13,minmax(0, 1fr));
    margin: 0 .625rem;
    width: 100%;
} 
.hnf-header__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: nowrap;
}
.hnf-page-container__main {
    grid-column: 1/14;
    grid-row: 1;
}
.swiper-pagination-progressbar-fill {
background : black !important
} 
.swiper2 {
    display: inline-block;

    width: 50%;
/*   overflow: hidden;*/
}

.col.swiper-slide {
margin: 0;
}
.col.swiper-slide img {
width: 69%;
    margin: 0 auto;
}
.fa-bars {
    display: none;
}

.two.fas.fa-bars {
 cursor: pointer;
    position: fixed;
    transform: translateX(-100px);
    width: 100%;
}
.fas.fa-times {
    padding: 20px 0 0 40px;   
    font-size: 30px;
    cursor: pointer;
}
li:hover {
    text-decoration: underline;
    cursor: pointer;
}
.mainbox .box59 {
display: flex;
flex-direction: row;
    order: 5;
/*    margin-right: -.625rem;*/
    font-size: 0.95rem;
    font-weight: 700;
        margin-left: 10px;

}
/*
.flexbox {
    display: inline-flex;
}
*/
    .flexbox.mam4 .sec2img1 {
          display: inline-flex;
    } .flexbox.mam4 .sec2img3 {
               display: inline-flex;
    }.flexbox.mam3 .sec2img1 {
          display: inline-flex;
    } .flexbox.mam3 .sec2img3 {
          display: inline-flex;
    }
/*
 span {
        font-size: 100% ;
    }
*/
.joni {
    display: inline-block;
    color: white;
    padding: .625rem 1.25rem .625rem 1.25rem;
    border-radius: 20px;
    border: 0 transparent;
    font-size: .75rem;
    font-weight: 700;
    line-height: 3;
    background-color: black;
    
}
.hnf-accordion__heading {
    display: none;
}
   .hnf-footer .hnf-accordion__item h4>.hnf-accordion__title {
        display: block;
    }
@media all and (min-width: 902px) and (max-width: 1999px)
{
    body {
     
    }


.headermenu_mobile {


    top: 0px;
    position: absolute;
  visibility: hidden;
    padding: 0 0 0 20px;
    z-index: 999;

}
    .fa-heart {

display: none;
line-height: -9999px;
}



.fa-bars {
    display: block;
    cursor: pointer;
}    
  .sidebar {
 
      visibility: visible;
    cursor: pointer;
}    
    .two.fas.fa-bars {
        visibility: hidden;
    }

    .flexbox.mam4 .sec2img1 {
          display: inline-flex;
    } .flexbox.mam4 .sec2img3 {
               display: inline-flex;
    }.flexbox.mam3 .sec2img1 {
          display: inline-flex;
    } .flexbox.mam3 .sec2img3 {
          display: inline-flex;
    }
}
 .go.gkk {
        margin-top: -0.05rem !important
    }

/*
@media all and (min-width: 536px) and (max-width: 901px){
        .subtxt {
        display: none;
    }
    .fa-bars {
    display: block;
    cursor: pointer;
}   
    .fa-heart {

display: none;
line-height: -9999px;
}
[data-namespace=search-box] .search-field {
        width: calc(100% - 130px);
    }
   .hnf-header__container {
flex-wrap: wrap;
    }
    .mainbox .box59 {
        position: absolute;
        right: 20px;
        top: 35px;
        
    }
        .hnf-header__search {
   
    }
    .flexbox {
        display: flex ;
    }
    .flexbox.mam4 .sec2img1 {
          display: inline-flex;
    } .flexbox.mam4 .sec2img3 {
          display: inline-flex;
    }.flexbox.mam3 .sec2img1 {
          display: inline-flex;
    } .flexbox.mam3 .sec2img3 {
          display: inline-flex;
    }
*/
/*}*/
@media all and (max-width: 901px) {
    *:focus {

        outline: none !important;
    }
    
    .fa-bars {
    display: block;
    cursor: pointer;
}   
    
    .fa-heart {

display: none;
line-height: -9999px;
}  
    .subtxt {
        display: none;
    }
[data-namespace=search-box] .search-field {
        width: 100%;
    }
   .hnf-header__container {
flex-wrap: wrap;
    }
    .mainbox .box59 {
        position: absolute;
        right: 20px;
        top: 35px;
        
    }
        .hnf-header__search {

margin: 0;
    }
    .flsdl {
    display: flex;
        flex-direction: column;
    width: 100%;
}
    
    .f123 {
        display: inline-block;
    }
    .flexbox.mam4 .sec2img1 {
        display: none;
    }.flexbox.mam4 .sec2img2 {
        margin-top: 20px;
    } .flexbox.mam4 .sec2img3 {
        display: none;
    }.flexbox.mam3 .sec2img1 {
        display: none;
    }.flexbox.mam3 .sec2img2 {
        margin-top: 20px;
    } .flexbox.mam3 .sec2img3 {
        display: none;
    }
    .rjaskdj {
    font-size: .75rem !important;
}
    .box1 {
        margin-bottom: 2rem !important
    }
    .dsfdsfsdf {
        font-size: 1.5rem !important;
    }
    .svmvmvm {
        margin-bottom: 0 !important;
    }
    .img1 {
        float: none !important;
        width: 100% !important;
    }
    .flexbox2 img {
    max-width: calc(99px - 1.25rem);
    height: auto;
    display: block;
    margin-right: 2rem;
}
    span {
        font-size: .875rem;
    }
    .col.swiper-slide img {
        width: 100%;
        margin: 0 auto;
    }
    .img5.ani7.zxc {
    margin: 0;
    }.flexboxcx {
    float: none;
    width: 100%;
}
    .col{
        padding-left: 0;
    }
    .swiper-container {
      margin-top: 3.75rem;;
        width: 100%;
    }.tt2{
        font-size: inherit;
    }
    .go.gkk {
        margin-top: -0.05rem !important
    }
    
    .mainsdn {
        font-size: 1.5rem !important;
    }
    .asdk {
        font-size: 1.5rem !important;
    }
    .hnf-footer .hnf-accordion {
        flex-direction: column;
    }
  .hnf-footer .hnf-flex-row{
        flex-direction: column;
    }
    .hnf-accordion__item:hover {
        text-decoration: none;
    }
    .hnf-footer__featuredLinks {
        margin-bottom: 2.5rem;
    }
    .hnf-footer .hnf-accordion__item h4>.hnf-accordion__title {
        display: none;
    }
    .h4 {

        font-size: 1.25rem;
        font-weight: 700;
    }
    .hnf-footer .hnf-accordion__heading {
        display: flex;
        flex-direction: row;
        min-height: auto;
        padding: 1.875rem 0;
        border: none;
        background-color: inherit;
        text-align: left;
        width: 100%;
    }
    .hnf-svg-icon {
        display: inline-block;
        height: 1.5rem;
        width: 1.5rem;
        vertical-align: middle;
        fill:currentColor;
    }
    .hnf-footer .hnf-accordion__title {
        flex: 1 0 auto;
        margin: 0;
        min-height: auto;
        color: #111;
        line-height: 1.875rem;
    }
    .hnf-footer .hnf-accordion__item {
        position: relative;
        border-top: 1px solid #dfdfdf;
    }
    .hnf-footer .hnf-accordion {
        padding-left: 0;
        line-height: 1.71429;
        border-bottom: 1px solid #dfdfdf;
    }
    .boder1.end {
        display: none;
    }
    .hnf-footer .hnf-accordion__item {
        padding-left: 0;
 
    }
    .hnf-footer .hnf-accordion__content li {
        margin-bottom: 1.875rem;
    }
    .hnf-accordion__heading {
        display: block;
    }
}